<h2>Person List with Address and Bank Account</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Marital Status</th>
            <th>IBAN</th>
            <th>Addresses</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.birthdate ? person.birthdate|date('Y-m-d') : 'N/A' }}</td>
                <td>{{ person.maritalStatus ?: 'N/A' }}</td>

                <td>{{ person.bankAccount is defined and person.bankAccount.iban is defined ? person.bankAccount.iban : 'No bank account' }}</td>


                <td>
                    {% for address in person.addresses %}
                        <li>{{ address.address }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
